<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragment/head :: head"></div>
    <title id="title">Items</title>
</head>
<body>
<div th:replace="fragment/navbar :: nav"></div>

<div class="container">
    <!----------------------Paging navigation------------------------------------->
    <div class="container">
        <div class="row">
            <div class="page">
                <a th:unless="${pageid == 0}" class="nav-arrow" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                   th:href="${urlBuilder.replaceQueryParam('pageid', pageid - 1).toUriString()}">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <span class="text-muted" th:if="${pageid == 0}">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <div class="px-2" th:text="'page ' + ${pageid +1}"></div>
                <a th:unless="${islastpage}" class="nav-arrow" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                   th:href="${urlBuilder.replaceQueryParam('pageid', pageid + 1).toUriString()}">
                    <i class="fas fa-arrow-right"></i>
                </a>
                <span class="text-muted" th:if="${islastpage}">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </div>
        </div>
    </div>

        <!----------------------Items table------------------------------------->
    <table>
        <thead>
        <tr>
            <th scope="col"><h3>Fencer 1</h3></th>
            <th scope="col"><h3>Fencer 1 score</h3></th>
            <th scope="col"><h3>Fencer 2 score</h3></th>
            <th scope="col"><h3>Fencer 2</h3></th>
            <th scope="col"><h3>Event</h3></th>
            <th scope="col"><h3>Date</h3></th>
            <th scope="col"><h3>Type</h3></th>
            <th scope="col"><h3>Scheme</h3></th>
        </tr>
        </thead>
        <div th:each="bout : ${bouts}">
            <tr>
                <td data-label="fencer_1">
                    <p th:text="${bout.fencerOne.boutSchemeType}"></p>
                </td>
                <td data-label="fencer_1_score">
                    <p th:text="${bout.fencerOneScore}"></p>
                </td>
                <td data-label="fencer_2_score">
                    <p th:text="${bout.fencerTwoScore}"></p>
                </td>
                <td data-label="fencer_2">
                    <p th:text="${bout.fencerTwo.boutSchemeType}"></p>
                </td>
                <td data-label="event">
                    <p th:text="${bout.event}"></p>
                </td>
                <td data-label="date">
                    <p th:text="${bout.date}"></p>
                </td>
                <td data-label="type">
                    <p th:text="${bout.boutType}"></p>
                </td>
                <td data-label="scheme">
                    <p th:text="${bout.boutScheme}"></p>
                </td>
            </tr>
        </div>
    </table>
</div>
</div>
</body>
</html>